<div class="container">
    <h1>Listado de pedidos</h1>
    <h5>
        Guía de uso <br>
        <ul>
            <li>Para cargar una nueva linea, escriba los datos solicitados y luego presione el botón "Guardar Pedido"</li>
            <li>Para modificar un valor, haga click sobre el texto del mismo, y modifiquelo en el textbox</li>
            <li>Para eliminar un valor, seleccione el mismo y haga click en la opción eliminar</li>
            <li>Si desea cargar una nueva linea, pero por error seleccionó un elemento ya cargado en la lista, por favor, haga click en el botón "Desmarcar Pedido"</li>
        </ul>
    </h5>
    <list-component></list-component>
</div>